<a href="https://colab.research.google.com/github/lacey-conrad/WGCNA-work/blob/main/treatment_predictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns


from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

from sklearn.model_selection import train_test_split


from sklearn import metrics
from sklearn.metrics import confusion_matrix, accuracy_score

import tensorflow as tf
from tensorflow import keras

from keras import Sequential
from keras import layers
from keras import models
from keras.layers import Dense, Flatten, Conv2D
from keras import Model
from sklearn.decomposition import PCA  # to apply PCA

In [2]:
df_gastroc = pd.read_csv('gastroc_raw_counts.csv')
traits = pd.read_csv('thermo_capacity_traits_all.csv')

In [3]:
#traits.tail(50)

In [4]:
traits = traits.rename(columns={'mouse_id': 'Animal'})

In [5]:
df = pd.DataFrame(traits, columns=['Animal','acclim1'])
#df.tail(50)

In [6]:
#df_gastroc.head()

In [7]:
df_gastroc['Row_Mean'] = df_gastroc.mean(axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

In [8]:
df_gastroc = df_gastroc[df_gastroc.Row_Mean >= 10]

In [9]:
# Keep!!!
df_gastroc.drop("Row_Mean", axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [10]:
df_gastroc = df_gastroc.T

In [11]:
df_gastroc.columns = df_gastroc.iloc[0]

In [12]:
df_gastroc = df_gastroc.iloc[1: , :]

In [13]:
df_gastroc.head()

Unnamed: 0,LOC102903073,LOC102904318,Ppp2r1a,LOC102906476,LOC102922856,LOC102912116,Ppp4r2,Myadm,LOC107402623,Cacng6,...,EI127_mgp04,EI127_mgt17,EI127_mgt18,EI127_mgt19,EI127_mgp03,EI127_mgp02,EI127_mgt20,EI127_mgp01,EI127_mgt21,EI127_mgt22
LN.F1.113.2be,10,27,336,384,6,13,33,83,23,111,...,11886,276,122,92,6169,5420,2144,16304,173,1511
LN.F1.113.aa,12,35,264,340,13,7,51,36,39,184,...,12638,371,207,81,7024,6495,1673,16561,142,1280
LN.F1.113.ae,5,21,175,407,21,10,43,43,30,200,...,9748,272,135,67,5841,5400,1414,13018,103,955
LN.F1.113.ag,6,25,298,446,21,16,54,61,23,131,...,16001,495,230,116,9873,7522,2011,21779,196,1599
LN.F1.113.ak,7,25,425,526,17,19,58,132,51,259,...,13241,337,180,91,7773,6657,1650,16713,109,1130

In [14]:
### normalize and merge after this point

In [15]:
scaler = StandardScaler()
scaler.fit(df_gastroc)
X_trans = scaler.transform(df_gastroc)

In [16]:
#Applying PCA
#Taking no. of Principal Components as 3
pca = PCA(n_components = 3)
pca.fit(X_trans)

PCA(n_components=3)

In [17]:
data_pca = pca.transform(X_trans)
data_pca = pd.DataFrame(data_pca,columns=['PC1','PC2','PC3'])
data_pca.head()

         PC1        PC2        PC3
0 -44.117166  26.196616   6.950873
1 -47.573065 -12.572077 -11.710404
2 -72.231403  -6.664231  -6.881561
3  17.838188 -20.307664   3.901166
4  73.311040   2.032320 -22.955084

In [18]:
df_gastroc.head()

Unnamed: 0,LOC102903073,LOC102904318,Ppp2r1a,LOC102906476,LOC102922856,LOC102912116,Ppp4r2,Myadm,LOC107402623,Cacng6,...,EI127_mgp04,EI127_mgt17,EI127_mgt18,EI127_mgt19,EI127_mgp03,EI127_mgp02,EI127_mgt20,EI127_mgp01,EI127_mgt21,EI127_mgt22
LN.F1.113.2be,10,27,336,384,6,13,33,83,23,111,...,11886,276,122,92,6169,5420,2144,16304,173,1511
LN.F1.113.aa,12,35,264,340,13,7,51,36,39,184,...,12638,371,207,81,7024,6495,1673,16561,142,1280
LN.F1.113.ae,5,21,175,407,21,10,43,43,30,200,...,9748,272,135,67,5841,5400,1414,13018,103,955
LN.F1.113.ag,6,25,298,446,21,16,54,61,23,131,...,16001,495,230,116,9873,7522,2011,21779,196,1599
LN.F1.113.ak,7,25,425,526,17,19,58,132,51,259,...,13241,337,180,91,7773,6657,1650,16713,109,1130

In [19]:
#### Normalize and merge before this point

In [20]:
df_gastroc = df_gastroc.reset_index()

In [21]:
df_gastroc = df_gastroc.rename(columns={'index': 'Animal'})

In [22]:
df_gastroc.head()

Unnamed: 0,Animal,LOC102903073,LOC102904318,Ppp2r1a,LOC102906476,LOC102922856,LOC102912116,Ppp4r2,Myadm,LOC107402623,...,EI127_mgp04,EI127_mgt17,EI127_mgt18,EI127_mgt19,EI127_mgp03,EI127_mgp02,EI127_mgt20,EI127_mgp01,EI127_mgt21,EI127_mgt22
0,LN.F1.113.2be,10,27,336,384,6,13,33,83,23,...,11886,276,122,92,6169,5420,2144,16304,173,1511
1,LN.F1.113.aa,12,35,264,340,13,7,51,36,39,...,12638,371,207,81,7024,6495,1673,16561,142,1280
2,LN.F1.113.ae,5,21,175,407,21,10,43,43,30,...,9748,272,135,67,5841,5400,1414,13018,103,955
3,LN.F1.113.ag,6,25,298,446,21,16,54,61,23,...,16001,495,230,116,9873,7522,2011,21779,196,1599
4,LN.F1.113.ak,7,25,425,526,17,19,58,132,51,...,13241,337,180,91,7773,6657,1650,16713,109,1130

In [23]:
y = df_gastroc.Animal

In [24]:
frames = [data_pca,y]

In [25]:
df_pca = pd.concat(frames, axis = 1)

In [26]:
df_pca.head()

         PC1        PC2        PC3         Animal
0 -44.117166  26.196616   6.950873  LN.F1.113.2be
1 -47.573065 -12.572077 -11.710404   LN.F1.113.aa
2 -72.231403  -6.664231  -6.881561   LN.F1.113.ae
3  17.838188 -20.307664   3.901166   LN.F1.113.ag
4  73.311040   2.032320 -22.955084   LN.F1.113.ak

In [27]:
#X = df_gastroc.drop(labels=['Animal'], axis = 1)

In [28]:
#X.head()

In [29]:
#df_animal = pd.DataFrame(y, columns=['Animal'])

In [30]:
#df_animal.head()

In [31]:
df_data = df_pca.merge(df, on='Animal', how = 'inner', indicator=True)

In [32]:

df_data.head()

         PC1        PC2        PC3        Animal  acclim1 _merge
0 -47.573065 -12.572077 -11.710404  LN.F1.113.aa        3   both
1 -72.231403  -6.664231  -6.881561  LN.F1.113.ae        3   both
2  17.838188 -20.307664   3.901166  LN.F1.113.ag        3   both
3  73.311040   2.032320 -22.955084  LN.F1.113.ak        0   both
4  50.908406   1.385255 -33.285863  LN.F1.113.am        0   both

In [54]:
X = pd.DataFrame(df_data, columns=['PC1','PC2','PC3'])
y = df_data.acclim1

In [34]:
##################################################
# Deep Learning Section ##########################
##################################################

In [55]:
X = np.array(X) 
y = np.array(y)

In [56]:
y = pd.get_dummies(y)

In [57]:
y  = y.astype("float32")

In [37]:
#input_layer_size = n                      # Dimension of features
#hidden_layer_size = input_layer_size*2    # of units in hidden layer
#output_layer_size = 4    # number of labels

In [58]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state = 42)

In [59]:
#X_train = X_train[..., tf.newaxis].astype("float32")
#X_test = X_test[..., tf.newaxis].astype("float32")

X_train  = X_train.astype("float32")
X_test  = X_test.astype("float32")

In [60]:
X.shape

(39, 3)

In [61]:
X_train.shape

(31, 3)

In [62]:
model = Sequential()

In [63]:
model.add(Dense(128, activation='relu', input_dim=3))
model.add(Dense(4, activation='softmax'))

In [68]:
model.compile(optimizer='adam', loss = tf.keras.losses.MeanSquaredError(), metrics=['accuracy'])

In [70]:
model.fit(X_train, y_train, epochs=200, batch_size=10)

Epoch 1/200
4/4 [==============================] - 0s 7ms/step - loss: 0.1787 - accuracy: 0.5484
Epoch 2/200
4/4 [==============================] - 0s 11ms/step - loss: 0.1767 - accuracy: 0.5484
Epoch 3/200
4/4 [==============================] - 0s 10ms/step - loss: 0.1842 - accuracy: 0.5161
Epoch 4/200
4/4 [==============================] - 0s 13ms/step - loss: 0.1908 - accuracy: 0.5161
Epoch 5/200
4/4 [==============================] - 0s 15ms/step - loss: 0.2067 - accuracy: 0.4839
Epoch 6/200
4/4 [==============================] - 0s 8ms/step - loss: 0.2016 - accuracy: 0.5484
Epoch 7/200
4/4 [==============================] - 0s 11ms/step - loss: 0.1922 - accuracy: 0.5484
Epoch 8/200
4/4 [==============================] - 0s 15ms/step - loss: 0.1866 - accuracy: 0.5484
Epoch 9/200
4/4 [==============================] - 0s 11ms/step - loss: 0.1822 - accuracy: 0.5484
Epoch 10/200
4/4 [==============================] - 0s 8ms/step - loss: 0.1870 - accuracy: 0.5484
Epoch 11/200
4/4 [==============================] - 0s 9ms/step - loss: 0.1851 - accuracy: 0.5484
Epoch 12/200
4/4 [==============================] - 0s 10ms/step - loss: 0.1895 - accuracy: 0.5484
Epoch 13/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1937 - accuracy: 0.5484
Epoch 14/200
4/4 [==============================] - 0s 7ms/step - loss: 0.1844 - accuracy: 0.5484
Epoch 15/200
4/4 [==============================] - 0s 9ms/step - loss: 0.1847 - accuracy: 0.5484
Epoch 16/200
4/4 [==============================] - 0s 9ms/step - loss: 0.1852 - accuracy: 0.5806
Epoch 17/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1886 - accuracy: 0.5484
Epoch 18/200
4/4 [==============================] - 0s 10ms/step - loss: 0.1892 - accuracy: 0.5806
Epoch 19/200
4/4 [==============================] - 0s 7ms/step - loss: 0.1862 - accuracy: 0.5806
Epoch 20/200
4/4 [==============================] - 0s 7ms/step - loss: 0.1848 - accuracy: 0.5806
Epoch 21/200
4/4 [==============================] - 0s 8ms/step - loss: 0.1904 - accuracy: 0.5806
Epoch 22/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1906 - accuracy: 0.5484
Epoch 23/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1912 - accuracy: 0.5484
Epoch 24/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1905 - accuracy: 0.5161
Epoch 25/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1962 - accuracy: 0.5484
Epoch 26/200
4/4 [==============================] - 0s 5ms/step - loss: 0.2010 - accuracy: 0.5161
Epoch 27/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1878 - accuracy: 0.5484
Epoch 28/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1835 - accuracy: 0.5161
Epoch 29/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1827 - accuracy: 0.5484
Epoch 30/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1814 - accuracy: 0.5806
Epoch 31/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1791 - accuracy: 0.5806
Epoch 32/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1814 - accuracy: 0.5484
Epoch 33/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1850 - accuracy: 0.5484
Epoch 34/200
4/4 [==============================] - 0s 6ms/step - loss: 0.1897 - accuracy: 0.5484
Epoch 35/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1924 - accuracy: 0.5484
Epoch 36/200
4/4 [==============================] - 0s 6ms/step - loss: 0.1904 - accuracy: 0.5484
Epoch 37/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1823 - accuracy: 0.5484
Epoch 38/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1736 - accuracy: 0.5806
Epoch 39/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1817 - accuracy: 0.5806
Epoch 40/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1791 - accuracy: 0.5806
Epoch 41/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1710 - accuracy: 0.5806
Epoch 42/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1702 - accuracy: 0.5806
Epoch 43/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1686 - accuracy: 0.5806
Epoch 44/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1685 - accuracy: 0.6129
Epoch 45/200
4/4 [==============================] - 0s 7ms/step - loss: 0.1663 - accuracy: 0.5806
Epoch 46/200
4/4 [==============================] - 0s 6ms/step - loss: 0.1675 - accuracy: 0.5484
Epoch 47/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1682 - accuracy: 0.5806
Epoch 48/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1725 - accuracy: 0.5484
Epoch 49/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1802 - accuracy: 0.5161
Epoch 50/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1566 - accuracy: 0.5806
Epoch 51/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1457 - accuracy: 0.5806
Epoch 52/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1472 - accuracy: 0.5484
Epoch 53/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1414 - accuracy: 0.5484
Epoch 54/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1482 - accuracy: 0.5484
Epoch 55/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1342 - accuracy: 0.6774
Epoch 56/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1297 - accuracy: 0.7097
Epoch 57/200
4/4 [==============================] - 0s 6ms/step - loss: 0.1231 - accuracy: 0.6452
Epoch 58/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1176 - accuracy: 0.6452
Epoch 59/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1042 - accuracy: 0.7097
Epoch 60/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0959 - accuracy: 0.7419
Epoch 61/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0886 - accuracy: 0.7742
Epoch 62/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0865 - accuracy: 0.8065
Epoch 63/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0857 - accuracy: 0.8387
Epoch 64/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0833 - accuracy: 0.8387
Epoch 65/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0808 - accuracy: 0.8387
Epoch 66/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0804 - accuracy: 0.8387
Epoch 67/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0777 - accuracy: 0.8387
Epoch 68/200
4/4 [==============================] - 0s 4ms/step - loss: 0.0776 - accuracy: 0.8710
Epoch 69/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0769 - accuracy: 0.8387
Epoch 70/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0824 - accuracy: 0.7742
Epoch 71/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0932 - accuracy: 0.7742
Epoch 72/200
4/4 [==============================] - 0s 6ms/step - loss: 0.0880 - accuracy: 0.7419
Epoch 73/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0806 - accuracy: 0.7419
Epoch 74/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0846 - accuracy: 0.7742
Epoch 75/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0852 - accuracy: 0.7742
Epoch 76/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0820 - accuracy: 0.8065
Epoch 77/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0742 - accuracy: 0.8065
Epoch 78/200
4/4 [==============================] - 0s 7ms/step - loss: 0.0781 - accuracy: 0.8065
Epoch 79/200
4/4 [==============================] - 0s 4ms/step - loss: 0.0731 - accuracy: 0.8387
Epoch 80/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0852 - accuracy: 0.7419
Epoch 81/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0838 - accuracy: 0.8065
Epoch 82/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0756 - accuracy: 0.8387
Epoch 83/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0764 - accuracy: 0.7742
Epoch 84/200
4/4 [==============================] - 0s 6ms/step - loss: 0.0866 - accuracy: 0.7742
Epoch 85/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1122 - accuracy: 0.7419
Epoch 86/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1182 - accuracy: 0.7419
Epoch 87/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1260 - accuracy: 0.6774
Epoch 88/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1228 - accuracy: 0.6774
Epoch 89/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1287 - accuracy: 0.6452
Epoch 90/200
4/4 [==============================] - 0s 6ms/step - loss: 0.1205 - accuracy: 0.6774
Epoch 91/200
4/4 [==============================] - 0s 7ms/step - loss: 0.1238 - accuracy: 0.6774
Epoch 92/200
4/4 [==============================] - 0s 6ms/step - loss: 0.1190 - accuracy: 0.6774
Epoch 93/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1183 - accuracy: 0.7097
Epoch 94/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1073 - accuracy: 0.7419
Epoch 95/200
4/4 [==============================] - 0s 6ms/step - loss: 0.1054 - accuracy: 0.7097
Epoch 96/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1060 - accuracy: 0.7097
Epoch 97/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0997 - accuracy: 0.7097
Epoch 98/200
4/4 [==============================] - 0s 6ms/step - loss: 0.0929 - accuracy: 0.7419
Epoch 99/200
4/4 [==============================] - 0s 6ms/step - loss: 0.0911 - accuracy: 0.7419
Epoch 100/200
4/4 [==============================] - 0s 4ms/step - loss: 0.0888 - accuracy: 0.7419
Epoch 101/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0859 - accuracy: 0.7419
Epoch 102/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0874 - accuracy: 0.7742
Epoch 103/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0870 - accuracy: 0.7742
Epoch 104/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0869 - accuracy: 0.7419
Epoch 105/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0876 - accuracy: 0.7742
Epoch 106/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0859 - accuracy: 0.7742
Epoch 107/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0839 - accuracy: 0.7742
Epoch 108/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0818 - accuracy: 0.8065
Epoch 109/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0854 - accuracy: 0.7742
Epoch 110/200
4/4 [==============================] - 0s 6ms/step - loss: 0.0975 - accuracy: 0.7419
Epoch 111/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1116 - accuracy: 0.7097
Epoch 112/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1170 - accuracy: 0.7097
Epoch 113/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1137 - accuracy: 0.7419
Epoch 114/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1218 - accuracy: 0.7097
Epoch 115/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1172 - accuracy: 0.6774
Epoch 116/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0986 - accuracy: 0.7419
Epoch 117/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0936 - accuracy: 0.7419
Epoch 118/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0958 - accuracy: 0.7742
Epoch 119/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0966 - accuracy: 0.7742
Epoch 120/200
4/4 [==============================] - 0s 4ms/step - loss: 0.0990 - accuracy: 0.7742
Epoch 121/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0963 - accuracy: 0.8065
Epoch 122/200
4/4 [==============================] - 0s 4ms/step - loss: 0.0990 - accuracy: 0.7742
Epoch 123/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0971 - accuracy: 0.7742
Epoch 124/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0956 - accuracy: 0.7742
Epoch 125/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0955 - accuracy: 0.7742
Epoch 126/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0977 - accuracy: 0.7419
Epoch 127/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0961 - accuracy: 0.7419
Epoch 128/200
4/4 [==============================] - 0s 6ms/step - loss: 0.0932 - accuracy: 0.7742
Epoch 129/200
4/4 [==============================] - 0s 6ms/step - loss: 0.0900 - accuracy: 0.7742
Epoch 130/200
4/4 [==============================] - 0s 6ms/step - loss: 0.0864 - accuracy: 0.7742
Epoch 131/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0864 - accuracy: 0.7742
Epoch 132/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0871 - accuracy: 0.7419
Epoch 133/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0927 - accuracy: 0.7097
Epoch 134/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0887 - accuracy: 0.7742
Epoch 135/200
4/4 [==============================] - 0s 4ms/step - loss: 0.0810 - accuracy: 0.7742
Epoch 136/200
4/4 [==============================] - 0s 4ms/step - loss: 0.0773 - accuracy: 0.8065
Epoch 137/200
4/4 [==============================] - 0s 4ms/step - loss: 0.0806 - accuracy: 0.8065
Epoch 138/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0883 - accuracy: 0.8065
Epoch 139/200
4/4 [==============================] - 0s 6ms/step - loss: 0.1022 - accuracy: 0.7742
Epoch 140/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0926 - accuracy: 0.7742
Epoch 141/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0892 - accuracy: 0.7742
Epoch 142/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0979 - accuracy: 0.7097
Epoch 143/200
4/4 [==============================] - 0s 6ms/step - loss: 0.0818 - accuracy: 0.8065
Epoch 144/200
4/4 [==============================] - 0s 4ms/step - loss: 0.0976 - accuracy: 0.7742
Epoch 145/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1064 - accuracy: 0.7419
Epoch 146/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1069 - accuracy: 0.7419
Epoch 147/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1044 - accuracy: 0.7742
Epoch 148/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1023 - accuracy: 0.7742
Epoch 149/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1026 - accuracy: 0.7097
Epoch 150/200
4/4 [==============================] - 0s 4ms/step - loss: 0.0999 - accuracy: 0.7419
Epoch 151/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0992 - accuracy: 0.7419
Epoch 152/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0968 - accuracy: 0.7419
Epoch 153/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0938 - accuracy: 0.7419
Epoch 154/200
4/4 [==============================] - 0s 4ms/step - loss: 0.0902 - accuracy: 0.7419
Epoch 155/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0861 - accuracy: 0.7419
Epoch 156/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0815 - accuracy: 0.7742
Epoch 157/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0816 - accuracy: 0.7419
Epoch 158/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0794 - accuracy: 0.7742
Epoch 159/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0828 - accuracy: 0.7419
Epoch 160/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0883 - accuracy: 0.7419
Epoch 161/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0861 - accuracy: 0.7742
Epoch 162/200
4/4 [==============================] - 0s 4ms/step - loss: 0.0854 - accuracy: 0.7742
Epoch 163/200
4/4 [==============================] - 0s 4ms/step - loss: 0.0809 - accuracy: 0.7742
Epoch 164/200
4/4 [==============================] - 0s 4ms/step - loss: 0.0768 - accuracy: 0.7742
Epoch 165/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0746 - accuracy: 0.8065
Epoch 166/200
4/4 [==============================] - 0s 6ms/step - loss: 0.0745 - accuracy: 0.8065
Epoch 167/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0736 - accuracy: 0.8065
Epoch 168/200
4/4 [==============================] - 0s 6ms/step - loss: 0.0729 - accuracy: 0.8387
Epoch 169/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0750 - accuracy: 0.8387
Epoch 170/200
4/4 [==============================] - 0s 6ms/step - loss: 0.0767 - accuracy: 0.8387
Epoch 171/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0781 - accuracy: 0.8387
Epoch 172/200
4/4 [==============================] - 0s 4ms/step - loss: 0.0754 - accuracy: 0.8387
Epoch 173/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0725 - accuracy: 0.8387
Epoch 174/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0714 - accuracy: 0.8387
Epoch 175/200
4/4 [==============================] - 0s 4ms/step - loss: 0.0722 - accuracy: 0.8065
Epoch 176/200
4/4 [==============================] - 0s 4ms/step - loss: 0.0768 - accuracy: 0.8065
Epoch 177/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0767 - accuracy: 0.8065
Epoch 178/200
4/4 [==============================] - 0s 4ms/step - loss: 0.0757 - accuracy: 0.8065
Epoch 179/200
4/4 [==============================] - 0s 4ms/step - loss: 0.0737 - accuracy: 0.8065
Epoch 180/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0719 - accuracy: 0.8065
Epoch 181/200
4/4 [==============================] - 0s 4ms/step - loss: 0.0708 - accuracy: 0.8065
Epoch 182/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0763 - accuracy: 0.8387
Epoch 183/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0752 - accuracy: 0.8065
Epoch 184/200
4/4 [==============================] - 0s 4ms/step - loss: 0.0695 - accuracy: 0.8710
Epoch 185/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0704 - accuracy: 0.8387
Epoch 186/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0696 - accuracy: 0.8387
Epoch 187/200
4/4 [==============================] - 0s 6ms/step - loss: 0.0683 - accuracy: 0.8387
Epoch 188/200
4/4 [==============================] - 0s 7ms/step - loss: 0.0676 - accuracy: 0.8387
Epoch 189/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0759 - accuracy: 0.8065
Epoch 190/200
4/4 [==============================] - 0s 6ms/step - loss: 0.0679 - accuracy: 0.8065
Epoch 191/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0877 - accuracy: 0.8065
Epoch 192/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1051 - accuracy: 0.7742
Epoch 193/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1037 - accuracy: 0.7742
Epoch 194/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1039 - accuracy: 0.7742
Epoch 195/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1051 - accuracy: 0.7742
Epoch 196/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1065 - accuracy: 0.7742
Epoch 197/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1063 - accuracy: 0.7742
Epoch 198/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1077 - accuracy: 0.7742
Epoch 199/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1052 - accuracy: 0.7742
Epoch 200/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1019 - accuracy: 0.7742